body {
  margin: 0;
  background: #1e1e1e;
  color: white;
  font-family: sans-serif;
}

.menu {
  padding: 20px;
}

.dish {
  display: flex;
  align-items: center;
  background: #2c2c2c;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
}

.dish img {
  width: 70px;
  height: 70px;
}

.info {
  margin-left: 15px;
  flex: 1;
}

.controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.controls span {
  min-width: 20px;
  text-align: center;
}

.controls button {
  background: #fbe8c2;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 16px;
}

.send {
  width: 100%;
  padding: 15px;
  background: #fbe8c2;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 30px;
}


